$color-blue-bright: #3a7bfd;
// $color-background: linear-gradient #57ddff to #c058f3;
$color-cyan:#57ddff;
$color-purple: #c058f3;
$color-blue-very-dark: #161722;
$color-blue-dark: #25273c;
// ### Neutral
// ### Light Theme
$color-white: #fafafa;
$color-gray-light-LM: #d2d3db;
$color-gray-very-light-LM: #e4e5f1;
$color-gray-LM: #9394a5;
$color-gray-dark-LM: #484b6a;
// ### dark Theme
$color-gray-light-DM: #cacde8;
$color-gray-very-light-DM: #e4e5f1; //(hover)
$color-gray-DM: #777a92;
$color-gray-dark-DM: #4d5066;
$color-gray-very-dark-DM: #393a4c;
// 
$font-weight-regular:400;
$font-weight-bold:700;